backoffice-portal:
  trigger:
    include: apps/backoffice-portal/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes: [apps/backoffice-portal/*]

business-portal:
  trigger:
    include: apps/business-portal/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes: [apps/business-portal/*]

customer-portal:
  trigger:
    include: apps/customer-portal/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes: [apps/customer-portal/*]




