stages:
  - build
  - modules

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

# Install dependencies and cache node_modules
build:
  stage: build
  tags:
  - shared
  image: node:20-alpine
  script:
    - echo "Installing dependencies..."
    - npm install
    - echo "Dependencies installed."
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 week


backoffice-portal:
  stage: modules
  trigger:
    include: apps/backoffice-portal/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes: [apps/backoffice-portal/project.json]

business-portal:
  stage: modules
  trigger:
    include: apps/business-portal/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes: [apps/business-portal/project.json]

customer-portal:
  stage: modules
  trigger:
    include: apps/customer-portal/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes: [apps/customer-portal/project.json]
