stages:
  - build
  - deploy

default:
  image: repo.sadad.ir/docker:dind
  before_script:
    - docker login -u $REGISTRY_USER -p $REGISTRY_Password $REGISTRY

variables:
  KUBERNETES_NAMESPACE: "oxygen-plus"
  KUBERNETES_DEPLOYMENT: "business-portal-web"
  NODE_MODULES_DIR: './node_modules'
  IMAGE_PATH: repo.sadad.ir/repository/oxygen-docker-group/business-portal-web
  VERSION: 1.0.0


build:
  stage: build
  tags:
    - shared
  script:
    - echo "Building Business Portal Web Docker image..."
    - docker build --add-host repo.sadad.ir:172.29.235.93 -t ${IMAGE_PATH}:$VERSION -f ./apps/business-portal/Dockerfile . 
    - echo "Pushing Business Portal Web Docker image to registry..."
    - docker push ${IMAGE_PATH}:$VERSION
  artifacts:
    paths:
      - $NODE_MODULES_DIR
    expire_in: 1 week
  only:
    - deploy

deploy:
  stage: deploy
  tags:
    - shared
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  inherit:
    default: false
  script:
    - echo "$KUBE_CONFIG" | base64 -d > /tmp/kubeconfig
    - export KUBECONFIG=/tmp/kubeconfig
    - kubectl set image deployment/$KUBERNETES_DEPLOYMENT $KUBERNETES_DEPLOYMENT=$IMAGE_PATH:$VERSION -n $KUBERNETES_NAMESPACE
    - kubectl rollout restart deployment/$KUBERNETES_DEPLOYMENT -n $KUBERNETES_NAMESPACE
  only:
    - deploy
